@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #1d3c45;
    color: #d2601a;
}

.header-logo {
    display: flex;
    flex-direction: row;
}

#logo {}

#info-meteo {
    align-items: center;
    text-align: center;
    margin-top: 25%;
}

.title {
    margin-top: 10%;
    margin-right: 5%;
    font-family: 'Rock Salt', cursive;
}
@media screen and (max-device-width: 640px){
    .title>h1{font-size: 1.2em;}
    .header-logo{flex-direction: column;}
    .section-info {flex-direction: column !important;}
    #result{margin-left: 0;}
    #result>li:nth-child(even){margin-left: 50%;}
}
.section-info {
    display: flex;
    flex-direction: row;
    background: fff1e1;
}

.infoimg {
    width: 100%;
    height: 50vh;
    max-width: 800px;
    max-height: 50vh;
    margin:  auto;
    padding: 50px;
}
.button-control{
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
}
.play{
    margin-right: 10px;
}
.info-aboutMe{
    margin: 0;
    padding: 0;
}
#affichePresentation {
    text-align: center;
    font-size: 1.3em;
    margin: 5% 2%;
}

.section-blog {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    font-size: 1.1em;
}

#result {
    list-style: none;
    margin-left: 10%;
    margin-top: 5%;
}

#result>li {
    margin-top: 30px;
    max-width: 800px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0px #1d3c45;
    margin-bottom: 40px;
}
#result>li:nth-child(even){
    margin-left: 10%;
    box-shadow: 10px 10px 10px 0px #d2601a;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 30vh;
    padding-top: 2%;
    background: #d2601a;


}

.reseaux,
.liens {
    list-style: none;

}

.liens a {
    font-size: 1.1em;
    color: #1d3c45;
}

#git {
    color: #171515;
}

#linked {
    color: #007bb6;
}

#facebook {
    color: #3b5998;
}
